/*

Neumorphic Checkbox Dark&Light Mode
https://codepen.io/DivineBlow/pen/KKgBPxY

*/

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

/* Light Mode styles */

* {
  font-family:  Arial, Helvetica, sans-serif;
  /* margin: 0; */
  padding: 1px;
  box-sizing: border-box;

}

body {
  /* background: #F5F5F5; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* min-height: 100vh; */

}

.container {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* max-width: 100vw; */
  /* flex-wrap: wrap; */
  padding-bottom: 30px ;
  padding-top: 30px ;

  .card {
    position: relative;
    width: 320px;
    height: 440px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
      inset -5px -5px 5px rgba(255, 255, 255, 0.5),
      5px 5px 5px rgba(0, 0, 0, 0.05), -5px -5px 5px rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    margin: 60px;
    padding:8px;

    .box {
      position: absolute;
      top: 20px;
      right: 20px;
      bottom: 20px;
      left: 20px;
      background: #fff9ed;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.5s;

      .content {
        padding: 20px;
        text-align: center;

        .fab {
          position: absolute;
          top: 20px;
          right: 20px;
          font-size: clamp(55px, 10vw, 65px);
          pointer-events: none;
        }

        .fa-python {
          background: rgb(0, 115, 163);
          background: linear-gradient(
            90deg,
            rgba(0, 115, 163, 1) 0%,
            rgba(255, 210, 41, 1) 100%
          );
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          text-fill-color: transparent;
        }

        .fa-java {
          background: rgb(255, 0, 0);
          background: linear-gradient(
            90deg,
            rgba(255, 0, 0, 1) 0%,
            rgba(125, 108, 130, 1) 70%,
            rgba(0, 212, 255, 1) 100%
          );
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          text-fill-color: transparent;
        }

        .fa-js-square {
          background-color: #fbda61;
          background-image: linear-gradient(45deg, #fbda61 0%, #ff5acd 100%);
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          text-fill-color: transparent;
        }

        h3 {
          font-size: 1.8em;
          color: #777;
          z-index: 1;
          transition: 0.5s;
        }

        p {
          font-size: 1em;
          color: #777;
          z-index: 1;
          transition: 0.5s;
        }

        a {
          position: relative;
          display: inline-block;
          padding: 8px 20px;
          background: #409eff;
          /* margin-top: 15px; */
          border-radius: 20px;
          color: #fff;
          text-decoration: none;
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
        }
      }
    }
  }

  .card:hover .box .content a {
    background: red;
  }
}

.container .card:hover .box {
  transform: translateY(-1px);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
  background: linear-gradient(45deg, #a3e1fa, #4f29cd);
  
}

.container .card:hover .box .content h3,
.container .card:hover .box .content p {
  color: #fff;
}

/* Dark Mode styles */

body.dark-theme {
  background: #232427;

  .card {
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
      inset -5px -5px 15px rgba(255, 255, 255, 0.1),
      5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);

    .box {
      background: #2a2b2f;
      box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);

      .content h3 {
        color: rgba(255, 255, 255, 0.9);
      }

      .content p {
        color: rgba(255, 255, 255, 0.9);
      }

      .content a {
        background: #000;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      }
    }
  }

  .container .card:nth-child(1) .box .content a {
    background: #ff0000;
  }

  .container .card:nth-child(2) .box .content a {
    background: #ba00ec;
  }

  .container .card:nth-child(3) .box .content a {
    background: #4158d0;
  }

  .container .card:hover .box {
    background-color: red;
  }
}

/*Checkbox Button*/
.center {
  position: absolute;
  top: 3%;
  right: 3%;

  input[type='checkbox'] {
    position: relative;
    width: 80px;
    height: 30px;
    -webkit-appearance: none;
    background: #111;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 0 0 2px #1f1f1f, inset -2px -2px 5px rgba(255, 255, 255, 0.1),
      inset 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
  }

  input:checked[type='checkbox'] {
    background: #00c9ff;
    box-shadow: 0 0 0 2px #1f1f1f, 0 10px 20px rgba(0, 0, 0, 0.5),
      inset 0 0 5px rgba(0, 0, 0, 1), inset 0 0 15px rgba(0, 0, 0, 0.5);
  }

  input[type='checkbox']:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 30px;
    background: linear-gradient(to top, #000, #6b6b6b);
    border-radius: 20px;
    box-shadow: 0 0 0 1px #232323;
    transform: scale(0.98, 0.96);
    transition: 0.5s;
  }

  input:checked[type='checkbox']:before {
    left: 20px;
  }

  input[type='checkbox']:after {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    left: 45px;
    width: 4px;
    height: 4px;
    background: #ff0000;
    box-shadow: 0 0 5px #ff0000, 0 0 15px #ff0000, 0 0 30px #ff0000;
    border-radius: 50%;
    transition: 0.5s;
  }

  
  input:checked[type='checkbox']:after {
    background: #00c9ff;
    left: 65px;
    box-shadow: 0 0 3px #00c9ff, 0 0 9px #00c9ff, 0 0 27px #00c9ff;
  }
}

